<body>
  <div>
    <img src ="assets\images\user.png" id="icon" alt="User Icon" class="center"/>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1 class="page-title" style="color: white;">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <div *ngIf="notify" class="alert alert-success">
            {{ notify }}
          </div>
          <div *ngIf="errors.length > 0" class="alert alert-danger">
            <p *ngFor="let error of errors">
              {{ error }}
            </p>
          </div>
          <label for="email" style="padding-right: 160px;">Email</label>
          <input type="email"  class="form-control" formControlName="email" />
        </div>
        <div *ngIf="isValidInput('email')" class="alert alert-danger">
          <div *ngIf="loginForm.controls['email'].errors.required">
            Email is required.
          </div>
          <div *ngIf="loginForm.controls['email'].errors.pattern">
             Valid email format required.
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <div *ngIf="isValidInput('password')" class="alert alert-danger">
          <div *ngIf="loginForm.controls['password'].errors.required" style="width:100%">
            Password required.
          </div>
        </div>
        <button
          [disabled]="!loginForm.valid"
          type="submit"
          style="background-color: #0478bb;"
          class="btn btn-warning"
        > Login
        </button>
        <button class="btn btn-block google-sign-in" (click)="signInWithGoogle()">
          
          <i  class="fa fa-google-plus" style="background-color: #f4f8fa;" aria-hidden="true"><span>Login with Google</span></i>
        </button>
      </form>
    </div>
  </div>
</div>
<style>
   
body{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url( https://www.teahub.io/viewwp/iowTwJ_dark-wallpapers-android-hd-dark-wallpapers-android/.jpg);
    width:500px;
    height:700px;  
}
label{
  color:white;
}

    

</style>
</body> 